.display {
    grid-column: 2;
    background-color: var(--background-color);
    height: 100%;
    gap: 20px;
}

.display-header {
    display: flex;
    height: 4rem;
    width: 100%;
    background-color: var(--front-color);
    font-size: 20px;
    font-weight: 600;
    list-style: none;
    color: var(--text-color);
    margin-bottom: 10px;
    gap: 10px;
    align-items: center;
    justify-content: center;
    display: flex;
    box-shadow: 0px 2px 0px 0px var(--text-selected);
    min-width: 32rem;
    transition: all 0.1s ease-in-out;
}

.display-header > .tab-image{
    width: 25px;
}

.display-header > .tab-name {
    margin-bottom: 2px;
    color: var(--text-selected);
}

/* Tasks */

.display-tasks {
    background-color: var(--front-color);
    border-radius: 10px;
    margin: 4rem;
    margin-top: 2rem;
    padding: 1rem;
    height: calc(100% - 10rem);
    display: flex;
    min-width: 22rem;
    flex-direction: column;
    justify-content: space-between;
}

.task-section {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.add-task-section {
    color:  var(--text-selected);
    background-color: var(--background-hover);
    padding: 10px;
    padding-left: 20px;
    height: 2rem;
    border-radius: 20px;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    outline: 1px solid var(--text-selected);
    transition: all 0.1s ease-in-out;
}

.add-task-section:hover {
    cursor: pointer;
    background-color: var(--front-secondary);
}

.add-task-section > .add-btn {
    padding-right: 10px;
    width: 20px;
    filter: invert(90%);
    transition: all 0.1s ease-in-out;
}

.task {
    position: relative;
    color:  var(--text-selected);
    background-color: var(--front-secondary);
    padding: 10px;
    padding-left: 20px;
    height: 2rem;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    outline: 1px solid var(--text-selected);
    transition: all 0.25s ease-in-out;
}

.task-left, .task-right {
    display: flex;
    gap: 10px;
}

.task-left {
    position: relative;
    width: calc(100% - 200px);
}

.task-right {
    position: relative;
    margin-right: 10px;
}

.task:hover {
    background-color: var(--background-hover);
}

.task-title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
}

.task-status {
    min-width: 25px;
    min-height: 25px;
    border-radius: 50%;
    border: 1px solid var(--text-selected);
    transition: all 0.1s ease-in-out;
}

.task[data-status = "done"] {
    opacity: 50%;
}

.task[data-status = "done"] .task-status {
    background-image: url(../assets/check.svg);
    background-color: var(--green);
}

.task-date {
    font-size: 14px;
    margin-right: 5px;
    user-select: none;
    -webkit-user-select: none;
}

.task .btn {
    filter: invert(70%);
    padding: 2px;
    height: 15px;
    width: 15px;
}

.task .btn:hover {
    filter: invert(50%);
    transition: all 0.1s ease-in-out;
}

@media only screen and (max-width: 768px) {
    .display {
        grid-column: 1;
        width: 100vw;
        height: 100vh;
    }

    .display-header {
        min-width: auto;
    }

    .display-tasks {
        margin: 2rem;
        padding: 1rem;
        height: calc(100vh - 14rem);

        min-width: auto;
    }
}