.display {
    grid-column: 2;
    background-color: var(--background-color);
    height: 100%;
    gap: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.display-header {
    display: flex;
    min-height: 4rem;
    width: 100%;
    background-color: var(--front-color);
    font-size: 20px;
    font-weight: 600;
    list-style: none;
    color: var(--text-color);
    margin-bottom: 10px;
    align-items: center;
    justify-content: center;
    display: flex;
    box-shadow: 0px 2px 0px 0px var(--text-selected);
    min-width: 32rem;
    transition: all 0.1s ease-in-out;
}

.header-tab {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.header-tab > .tab-image{
    width: 25px;
}

.header-tab > .tab-name {
    margin-bottom: 2px;
    color: var(--text-selected);
}

/* Tasks */

.display-tasks {
    background-color: var(--front-color);
    border-radius: 10px;
    margin: 2rem 4rem;
    margin-top: 0;
    padding: 1rem;
    height: calc(100vh - 10rem);
    max-height: calc(100vh - 10rem);
    display: flex;
    width: clamp(22rem, 80%, 80rem);
    flex-direction: column;
    justify-content: space-between;
}

.task-section {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 1px;
    overflow: scroll;
    scrollbar-width: none;
}

.task-section::-webkit-scrollbar {
    display: none;
}

.add-task-section {
    bottom: 0;
    color: var(--text-selected);
    background-color: var(--background-hover);
    padding: 10px;
    padding-left: 20px;
    height: 2rem;
    border-radius: 20px;
    display: flex;
    align-items: center;
    margin-top: 26px;
    margin-bottom: 10px;
    outline: 1px solid var(--text-selected);
    transition: all 0.1s ease-in-out;
}

.add-task-section:hover {
    cursor: pointer;
    background-color: var(--front-secondary);
}

.add-task-section > .add-btn {
    padding-right: 10px;
    width: 20px;
    filter: invert(90%);
    transition: all 0.1s ease-in-out;
}

/* Task section */

.task {
    position: relative;
    color: var(--text-selected);
    background-color: var(--front-secondary);
    padding: 10px;
    padding-left: 20px;
    height: 2rem;
    min-height: 2rem;
    border-radius: 20px;
    display: grid;
    max-width: 100%;
    grid-template-columns: 1fr 1fr;
    align-content: start;
    outline: 1px solid var(--text-selected);
    overflow: hidden;
    transition: all 0.25s ease-in-out;
}

.task-left, .task-right {
    display: flex;
    gap: 10px;
    height: 2rem;
    align-items: center;
    min-height: 2rem;
    margin-bottom: 10px;
}

.task-left {
    position: relative;
    justify-self: start;
    max-width: calc(120% - 1rem);
    overflow: hidden;
}

.task-right {
    position: relative;
    margin-right: 10px;
    justify-self: end;
}

.task-bottom {
    position: relative;
    grid-column: 1/3;
    height: 100%;
    overflow: scroll;
    scrollbar-width: none;
}

.task-bottom::-webkit-scrollbar {
    display: none;
}

.task-description {
    word-wrap: break-word;
    text-overflow: ellipsis;
    max-width: calc(100% - 1rem);
    margin-bottom: 5px;
}

.task:hover {
    background-color: var(--background-hover);
}

.task-title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
}

.task-status {
    aspect-ratio: 1/1;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    border: 1px solid var(--text-selected);
    transition: all 0.1s ease-in-out;
}

.task[data-status = "done"] {
    opacity: 50%;
}

.task[data-status = "done"] .task-status {
    background-image: url(../assets/check.svg);
    background-color: var(--green);
}

.task-date {
    font-size: 14px;
    margin-right: 5px;
    user-select: none;
    -webkit-user-select: none;
}

.task .btn {
    filter: invert(70%);
    padding: 2px;
    height: 15px;
    width: 15px;
}

.task .btn:hover {
    filter: invert(50%);
    transition: all 0.1s ease-in-out;
}


/* Handle Small Tasks*/

.task[data-small = "true"] {
    grid-template-columns: 1fr;
    align-items: start;
    gap: 10px;
}

.task[data-small = "true"]  > .task-right {
    margin-right: 0;
    grid-row: 3;
    width: 100%;
    align-items: end;
    justify-content: end;
}

.task[data-small = "true"]  > .task-right > .task-date {
    justify-self: start;
}

.task[data-small = "true"]  > .task-left {
    grid-column: 1/3;
    max-width: calc(100% - 1rem);
}

.task[data-expanded = "true"] {
    min-height: 12rem;
    pointer-events: all;
}

/***********************/

@media only screen and (max-width: 768px) {
    .display {
        grid-column: 1;
        width: 100vw;
        height: 100vh;
        translate: 100%;
        transition: translate 0.5s ease-in-out;
    }

    .display-header {
        min-width: auto;
    }

    .display-tasks {
        margin-bottom: 0;
        padding: 1rem;
        width: 80%;
        min-width: auto;
    }
}