:root {
    --background: #131312;
    --front-color: #232528;
    --front-secondary: #2D2E30;
    --background-hover: #32373A;
    --text-color: #9A9A9B;
    --text-selected: #D3D3D3;
}

body {
    background-color: var(--background);
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    overflow: hidden;
}

#app {
    position: absolute;
    background-color: var(--background);
    display: grid;
    grid-template-columns: 16rem calc(100vw - 16rem);
}

img {
    user-select: none;
    -webkit-user-select: none;
    -webkit-user-drag: none;
}