.navbar {
    position: fixed;
    background-color: var(--front-color);
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 16rem;
}

/* Header */
.nav-header {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 10px;
    padding-left: 10px;
    box-shadow: 0px 2px 0px 0px var(--text-selected);
}

.nav-logo {
    margin-top: 5px;
    height: 30px;
    width: 30px;
    filter: invert(90%);
}

.nav-title {
    font-size: 24px;
    color: var(--text-selected);
}

/* Sidebar */

.sidebar {
    display: flex;
    flex-direction: column;
    gap: 5rem;
    height: 100%;
    overflow: hidden;
}

.projects, .tasks {
    margin: 0;
    padding: 0;
    width: 100%;
    margin-top: 1px;
}

.tab {
    font-size: 16px;
    width: 100%;
    list-style: none;
    cursor: pointer;
    color: var(--text-color);
    padding: 10px;
    padding-left: 15px;
    display: flex;
    gap: 10px;
    transition: all 0.1s ease-in-out;
}

.tab:hover {
    outline: 1px solid var(--text-color);
    color: var(--text-selected);
    background-color: var(--background-hover);;
}

.tab-image {
    filter: invert(90%);
    width: 20px;
}

/* Add Project section*/
.projects {
    display: flex;
    flex-direction: column;
}

.add-section {
    color:  var(--text-selected);
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 2px 0px 0px var(--text-selected);
    margin-bottom: 10px;
}

.add-btn-title {
    padding-left: 10px;
}

.add-btn {
    padding-right: 10px;
    width: 20px;
    filter: invert(90%);
    transition: all 0.1s ease-in-out;
}

.add-btn:hover {
    filter: invert(50%);
}